.container {
    width: 400px;
    display: flex;
    margin: 0 auto;
}

.bg-box {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid darkblue;
}

.squere-1  {
    background:lightblue;
}

.squere-2  {
    background:lightcoral;
}

.squere-3  {
    background:lightgoldenrodyellow;
}

.squere-4 {
    background:lightgray;
}



